*.json
*.json:Zone.Identifier
.conda/
dados/
*.deb
.Rhistory

# Arquivos gerados pelo LaTeX e ferramentas relacionadas
# Arquivos temporários e auxiliares de compilação LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Bibliografia gerada automaticamente (MANTENHA o .bib)
*.bbl
*.blg
*.bcf
*.run.xml

# Índices, glossários e listas
*.idx
*.ind
*.ilg
*.lof
*.lot
*.glo
*.gls
*.glg
*.nav
*.snm
*.vrb

# Pastas de código e cache
_minted-*/
*.pyg

# Arquivos de backup e temporários
*.xlsx
*.png
!tex/**/*.png #mantém os pngs dentro da pasta tex
*.RData

# Notebooks não usados
clustering_dbscan.ipynb
clustering_k-means.ipynb
clusters.ipynb
code_extract.py
create_bis_nb.py
create_structural_nb.py
diff_diff.ipynb
extract_nb.py
fintechs.ipynb
fix_notebook.py
loadings.ipynb
mktsh.ipynb
model_2sls.ipynb
model_angbazo.ipynb
model_bis.ipynb
model_maudos.ipynb
modelo
modelo_estrutural_indices.ipynb
statistical_modelling - bancos.ipynb
statistical_modelling - Copia.ipynb:Zone.Identifier
statistical_modelling.ipynb
temp_code.py
tests.ipynb
update_indices_nb.py